/*
    partial rewrite of old css. 
    rewrite count: 3*
*/

body{
    margin: 0px;
    font-family: Raleway;
    overflow-y: auto;
    background-color: #f0f0f0;
    transition: all 500ms;
}

a{
    text-decoration: none;
    color: #000
}

a:hover{
    color: #444;
}

#header{
    width: 100%;
    height: 100px;
    display: none;
    background-color: #f0f0f0;
}

#header h1{
    margin: auto;
}

div#body{
    margin: 10px 10px;
}

div#title{
    font-family: Playfair Display;
}

div#title > h1{
    font-size: 60px;
    margin: 0px;
}

div#title > h2{
    font-size: 45px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 
}

p.nav{
    font-size: 20px;
    margin-top: 40px;
}

div#content p{
    text-indent: 40px;
}

div.wow-text{
    font-size: 30px;
    text-indent: 40px;
    display: flex;
}

div.wow-text h1{
    font-family: Playfair Display;
    font-size: 150px;
    color: #434343;
    margin: auto 0px;
}

div.wow-text p{
    position: relative;
    top: 1em;
}

div.img > img{
    border-radius: 10px;
    padding: 0px;
    filter: drop-shadow(0px 0px 2px #000);
    height: 500px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.ctr{
    text-align: center;
}
@media only screen and (min-width: 800px){
    div#body{
        width: 100%;
    }
    div#content_head{
        display:block;
    }
}

@media only screen and (min-width: 1200px){
    img {
        max-width: 100%;
    }

    div#content{
        font-size: 20px;
    }

    div#header{
        margin-bottom: 30px;    
    }

    div#body{
        width: 1200px;
        margin: auto;
    }
    
    div#content_head {
        display: flex;
    }

    div#other{
        position: relative;
        margin: 10px auto;
    }

    div#other > a > p{
        display: inline;
    }

    div.wow-text{
        font-size: 30px;
        text-indent: 40px;
        display: flex;
    }
}